<html>
  <head>
    <title>Page potin</title>
  </head>
  <body>
  <h1>Voici la page du potin n°<%= params['id'] %></h1>
  <p>Son auteur : <%= gossip.author %></p>
  <p>Le contenu du potin : <%= gossip.content %></p>

  <a href='/gossips/<%= params['id'] %>/edit/'>Editer un potin</a></br>
  <a href='/'>Retour à la page d'accueil</a>

  </body>
</hyml>